<div class="row" style="margin-bottom: 30px">
  <div class="col-6 text-center">
    <button type="button" class="btn btn-outline-dark" (click)="openHTML(1)">Rezerwacje</button>
  </div>
  <div class="col-6 text-center">
    <button type="button" class="btn btn-outline-dark" (click)="openHTML(2)">Odbiór samochodów</button>
  </div>

</div>
<!--Aktywne Rezerwacje (klucze do wydania )-->
<div *ngIf="htmlRezerwacje">
  <!--  WYŚWIELTANIE DANYCH AKTYWNYCH REZERWACJI-->
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="text-center" colspan="8"><h3>Lista aktywnych rezerwacji</h3></th>
    </tr>
    <tr>
      <th class="text-center" scope="col" colspan="2">Dane Klienta</th>
      <th class="text-center" scope="col" colspan="3">Dane Samochodu</th>
      <th class="text-center" scope="col" colspan="2">Czas Wypożyczenia</th>
      <th class="text-center" scope="col"></th>
    </tr>
    <tr class="thead-light">
      <th scope="col">Imie</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">ID</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Początek</th>
      <th scope="col">Koniec</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dane of daneAktywnychRezerwacji">
      <td>{{dane.IMIE}}</td>
      <td>{{dane.NAZWISKO}}</td>
      <td>{{dane.ID_SAMOCHODU}}</td>
      <td>{{dane.MARKA}}</td>
      <td>{{dane.MODEL}}</td>
      <td>{{dane.DATA_POCZATKU_WYPOZYCZENIA}}</td>
      <td>{{dane.DATA_KONCA_WYPOZYCZENIA}}</td>
      <td class="text-center" style="width: 5%">
        <button type="button" class="btn btn-outline-success" (click)="wydanieKluczy(dane.ID_REZERWACJI)">
          <img src="assets/icons/wydanieKluczy.png" alt="Wydanie Kluczy">
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<!--Samochody oczekujące na zakończenie wypożyczenia (klucze do odebrania)-->
<!--TODO: po naciśnięcu przycisku przechodzimy do listy samochodów poza salonem będąchych w rękach klientów
          - wyświetlenie listy samochodów poza lokalem
          - przejście do potwierdzenia odbioru
          - dodanie wpisu dotyczącego rezerwacji
          - dodawnie odpowiedniego wpisu do tabeli WYPOZYCZENIE-->
<div *ngIf="htmlOdbior">
  <!--  Wyświetlanie samochodów oczekujących na odbiór-->
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="text-center" colspan="8"><h3>Lista wydanych samochodów</h3></th>
    </tr>
    <tr>
      <th class="text-center" scope="col" colspan="2">Dane Klienta</th>
      <th class="text-center" scope="col" colspan="3">Dane Samochodu</th>
      <th class="text-center" scope="col" colspan="2">Czas Wypożyczenia</th>
      <th class="text-center" scope="col"></th>
    </tr>
    <tr class="thead-light">
      <th scope="col">Imie</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">ID</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Początek</th>
      <th scope="col">Koniec</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let wypozyczenie of daneAktywnychWypozyczen">
      <td>{{wypozyczenie.IMIE}}</td>
      <td>{{wypozyczenie.NAZWISKO}}</td>
      <td>{{wypozyczenie.ID_SAMOCHODU}}</td>
      <td>{{wypozyczenie.MARKA}}</td>
      <td>{{wypozyczenie.MODEL}}</td>
      <td>{{wypozyczenie.DATA_POCZATKU_WYPOZYCZENIA}}</td>
      <td>{{wypozyczenie.DATA_KONCA_WYPOZYCZENIA}}</td>
      <td class="text-center" style="width: 5%">
        <button type="button" class="btn btn-outline-success">
          <img src="assets/icons/odbriorSamochodu.png" alt="Odbiór Samochodu">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!--Table-->
<!--<div class="row">-->

<!--&lt;!&ndash;  tabela z klientami&ndash;&gt;-->
<!--  <div class="col">-->
<!--    <table class="table">-->
<!--      &lt;!&ndash;Table head&ndash;&gt;-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th> </th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      &lt;!&ndash;Table head&ndash;&gt;-->
<!--      &lt;!&ndash;Table body&ndash;&gt;-->
<!--      <tbody>-->
<!--      <tr *ngFor="let klient of klienci">-->
<!--        <td>{{klient.IMIE}}</td>-->
<!--        <td>{{klient.NAZWISKO}}</td>-->
<!--        <td>-->
<!--          <button type="button" class="btn btn-outline-dark">Rezerwacje</button>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--      &lt;!&ndash;Table body&ndash;&gt;-->
<!--    </table>-->
<!--    &lt;!&ndash;Table&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="col">-->

<!--&lt;!&ndash;    tabela z rezerwacjami &ndash;&gt;-->
<!--    <table class="table">-->
<!--      &lt;!&ndash;Table head&ndash;&gt;-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>ID_Samochodu</th>-->
<!--        <th>Data Początku</th>-->
<!--        <th>Data Końca</th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      &lt;!&ndash;Table head&ndash;&gt;-->
<!--      &lt;!&ndash;Table body&ndash;&gt;-->
<!--      <tbody>-->
<!--      <tr *ngFor="let rezerwacja of rezerwacja">-->
<!--        <td>{{rezerwacja.ID_SAMOCHODU}}</td>-->
<!--        <td>{{rezerwacja.DATA_POCZATKU_WYPOZYCZENIA}}</td>-->
<!--        <td>{{rezerwacja.DATA_KONCA_WYPOZYCZENIA}}</td>-->
<!--        <td>-->
<!--          <button type="button" class="btn btn-outline-dark">Info</button>-->
<!--        </td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--      &lt;!&ndash;Table body&ndash;&gt;-->
<!--    </table>-->
<!--    &lt;!&ndash;Table&ndash;&gt;-->
<!--  </div>-->

<!--</div>-->
