<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow p-3 mb-5">
  <a class="navbar-brand" routerLink="/login">
    <img src="assets/vehicle.png" width="64" height="64" class="d-inline-block align-top" alt="404">
  </a>
  <span class="navbar-brand mb-0 h1">Wypożyczalnia</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--      <li class="nav-item active">-->
      <!--              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--      </li>-->
      <!--      <li class="nav-item">-->
      <!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      <!--      </li>-->

    </ul>
    <form class="form-inline my-2 my-lg-1">
<!--      TODO: Logowanie sie na kotno pracownika lub klienta -->
      <a class="btn btn-dark" routerLink="/login" role="button">Zaloguj</a>
      <a class="btn btn-dark" href="#" role="button">Zarejestruj</a>
    </form>

  </div>
</nav>


<!--  <div class="container" style="margin-top:30px; margin-left: 0">-->
<div class="container-fluid" style="margin:120px 10px 120px 5px;">
  <router-outlet></router-outlet>
</div>

<!--<footer class="fixed-bottom navbar-dark bg-dark" style="padding-top:0; padding-bottom: 0">-->
<!--<footer class="navbar-dark bg-dark" style="padding-top:30px; padding-bottom: 20px">-->
<!--  <div class="container">-->
<!--    <p class="text-center text-muted">Place sticky footer content here.</p>-->
<!--  </div>-->
<!--</footer>-->


<app-messages></app-messages>
