<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow p-3 mb-5">
  <a class="navbar-brand" routerLink="/filter">
    <img src="assets/vehicle.png" width="64" height="64" class="d-inline-block align-top" alt="404">
  </a>
  <span class="navbar-brand mb-0 h1">Wypożyczalnia</span>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form *ngIf="zalogowanyKlient == null && zalogownayPracownik == null" class="form-inline my-2 my-lg-1">
      <button type="button" class="btn btn-dark" routerLink="/login" (click)="isCollapsed=!isCollapsed">Zaloguj</button>
    </form>

    <form *ngIf="zalogowanyKlient != null || zalogownayPracownik != null" class="form-inline my-2 my-lg-1">
      <button *ngIf="zalogowanyKlient != null" type="button" class="btn btn-dark" disabled>Zalogowano jako Klient o
        id: {{zalogowanyKlient}}</button>
      <button *ngIf="zalogownayPracownik != null" type="button" class="btn btn-dark" disabled>Zalogowano jako Pracownik o
        id: {{zalogownayPracownik}}</button>
    </form>
    <a class="btn btn-dark" routerLink="/login" role="button" (click)="wyloguj(); isCollapsed = !isCollapsed">Wyloguj</a>

  </div>
</nav>


<!--  <div class="container" style="margin-top:30px; margin-left: 0">-->
<div class="container-fluid" style="margin:120px 10px 120px 5px;">
  <router-outlet></router-outlet>
</div>


<!--<app-messages></app-messages>-->
