<!--<p>samochody works!</p>-->
<!--<div class="container" style="margin-left: 0;">-->
<!--  <table class="table table-hover">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Imie</th>-->
<!--      <th>Nazwisko</th>-->
<!--      <th>NIP</th>-->
<!--      <th>Nr_Telefonu</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let item of samochody">-->
<!--      <td>{{item.ID_SAMOCHODU}}</td>-->
<!--      <td>{{item.ID_LOKALU}}</td>-->
<!--      <td>{{item.MARKA}}</td>-->
<!--      <td>{{item.MODEL}}</td>-->
<!--      <td>{{item.ROK}}</td>-->
<!--      <td>{{item.KOLOR}}</td>-->
<!--      <td>{{item.ILOSC_MIEJSC}}</td>-->
<!--      <td>{{item.POJEMNOSC_BAGAZNIKA}}</td>-->
<!--      <td>{{item.RODZAJ_SKRZYNI_BIEGOW}}</td>-->
<!--      <td>{{item.CENA_ZA_DZIEN}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->


<div *ngFor="let item of samochody" class="container" style="margin-bottom: 30px">
  <!--WIERSZ SAMOCHODÓW-->
  <div class="row">

    <div class="col-lg-6">
      <!--POJEMNIK NA ZJĘCIA-->
      <img src="../../assets/samochodyIMG/samochodyPhotos/{{item.MARKA}}{{item.MODEL}}.jpg" class="img-fluid" alt="Samochod">
    </div>

    <div class="col-lg-6 mx-auto "><!-- POJEMNIK NA DANE SAMOCHODÓW-->

      <div class="row " style="margin-bottom: 10px;">
        <div class="col text-right">
          <h3>
            {{item.MARKA}}
          </h3>
        </div>
        <div class="col">
          <h3>
            {{item.MODEL}}
          </h3>
        </div>
      </div>
      <div class="row align-middle" style="margin-bottom: 10px;">
        <div class="col-md-4">
          <img src="assets/samochodyIMG/icony/siedzenie.png" class="img-fluid" alt="Ilość Miejsc">
          {{item.ILOSC_MIEJSC}}
        </div>
        <div class="col-md-4">
          <img src="assets/samochodyIMG/icony/bagaz.png" class="img-fluid" alt="Pojemność bagażnika">
          {{item.POJEMNOSC_BAGAZNIKA}}
        </div>
        <div class="col-md-4">
          <img src="assets/samochodyIMG/icony/kolor.png" class="img-fluid" alt="Kolor">
          {{item.KOLOR}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <div *ngIf="item.RODZAJ_SKRZYNI_BIEGOW=='M'; else elseBlock">
            <img src="assets/samochodyIMG/icony/manual.png" class="img-fluid" alt="Manual">
            Manual
          </div>
          <ng-template #elseBlock>
            <img src="assets/samochodyIMG/icony/automat.png" class="img-fluid" alt="Automat">
            Automat
          </ng-template>

        </div>
        <div class="col-md-4">
          <img src="assets/samochodyIMG/icony/rok.png" class="img-fluid" alt="Rocznik">
          {{item.ROK}}
        </div>
        <div class="col-md-4">
          <img src="assets/samochodyIMG/icony/cena.png" class="img-fluid" alt="Cena">
          {{item.CENA_ZA_DZIEN}}
        </div>


      </div>


    </div>
  </div>
</div>
