<!--<div *ngFor="let samochod of samochody">-->
<!--  <div *ngIf="samochod.ID_SAMOCHODU == getID()">-->
<!--    <h3>Szczegóły samochodu o ID: {{samochod.ID_SAMOCHODU}}</h3>-->
<!--  </div>-->
<!--</div>-->

<div *ngFor="let samochod of samochody">
  <div *ngIf="samochod.ID_SAMOCHODU == getID()" class="row">

    <div class="col-lg-6 text-center" style="margin-top: 80px">
      <!--POJEMNIK NA ZJĘCIA-->
      <img src="../../assets/samochodyIMG/samochodyPhotos/{{samochod.MARKA}}{{samochod.MODEL}}.jpg" class="img-fluid"
           alt="Samochod">
    </div>

    <div class="col-lg-6 mx-auto "><!-- POJEMNIK NA DANE SAMOCHODÓW-->

      <div class="row " style="margin-bottom: 10px;">
        <div class="col text-center">
          <h3>
            {{samochod.MARKA}} {{samochod.MODEL}}
          </h3>
        </div>

      </div>
      <div class="row align-middle" style="margin-bottom: 10px;">
        <div class="col-4">
          <img src="assets/samochodyIMG/icony/siedzenie.png" class="img-fluid" alt="Ilość Miejsc">
          {{samochod.ILOSC_MIEJSC}}
        </div>
        <div class="col-4">
          <img src="assets/samochodyIMG/icony/bagaz.png" class="img-fluid" alt="Pojemność bagażnika">
          {{samochod.POJEMNOSC_BAGAZNIKA}}
        </div>
        <div class="col-4">
          <img src="assets/samochodyIMG/icony/kolor.png" class="img-fluid" alt="Kolor">
          {{samochod.KOLOR}}
        </div>
      </div>
      <div class="row">
        <div class="col-4 ">
          <div *ngIf="samochod.RODZAJ_SKRZYNI_BIEGOW =='M'; else elseBlock">
            <img src="assets/samochodyIMG/icony/manual.png" class="img-fluid" alt="Manual">
            Manual
          </div>
          <ng-template #elseBlock>
            <img src="assets/samochodyIMG/icony/automat.png" class="img-fluid" alt="Automat">
            Automat
          </ng-template>

        </div>
        <div class="col-4">
          <img src="assets/samochodyIMG/icony/rok.png" class="img-fluid" alt="Rocznik">
          {{samochod.ROK}}
        </div>
        <div class="col-4">
          <img src="assets/samochodyIMG/icony/cena.png" class="img-fluid" alt="Cena">
          {{samochod.CENA_ZA_DZIEN}}
        </div>


      </div>
    </div>

    <div class="container-fluid" style="margin: 50px 0 50px 0;"> <!--  Podsumowanie    -->
      <h1>Podsumowanie</h1>
      <div class="row container-fluid">
        <h2 class="col-6 font-italic font-weight-light">Data wynajmu</h2>
        <h2 class="col-6 font-italic text-right font-weight-light">{{getData(fromDate)}} - {{getData(toDate)}}</h2>
      </div>
      <hr>
      <div class="row container-fluid">
        <h2 class="col-6 font-italic font-weight-light">Koszt wynajmu auta</h2>
        <h2 class="col-6 font-italic text-right font-weight-light">{{getKoszta(samochod.CENA_ZA_DZIEN) | currency: " "}}
          PLN</h2>
      </div>
      <hr>
      <div class="row container-fluid">
        <h2 class="col-6 font-italic font-weight-light">Kaucja zwrotna</h2>
        <h2 class="col-6 font-italic text-right font-weight-light">0 zł</h2>
      </div>
      <hr>
      <div class="row container-fluid">
        <h2 class="col-6 font-italic font-weight-light">Opłaty dodatkowe</h2>
        <h2 class="col-6 font-italic text-right font-weight-light">50 zł</h2>
      </div>

      <div class="row" style="margin-top: 100px">

        <div class="col">
          <button routerLink="/samochody" class="btn-lg btn-danger">Cofnij</button>
        </div>

        <div *ngIf="!dokonanoRezerwacji" class="col text-right"><!-- Button -->
          <button class="btn-lg btn-danger" (click)="addRezerwacja(samochod.ID_SAMOCHODU);">
            Zarezerwuj
          </button>
        </div>
        <div *ngIf="dokonanoRezerwacji" class="col text-right">
         <button type="button" class="btn-lg btn-outline-success" disabled>
           Dokonano Rezerwacji
         </button>
        </div>

      </div>

    </div>
  </div>


</div>

