<div *ngIf="login">
  <body class="text-center">
  <form class="form-signin">

    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>

    <input #login type="text" class="form-control" placeholder="Login"/>

    <input #haslo type="password" class="form-control" placeholder="Hasło"/>

    <p *ngIf="alert == true" >Podano błędny login lub hasło</p>

    <button (click)="zaloguj(login.value, haslo.value); login.value = ''; haslo.value=''">
      logIn
    </button>

    <!--  <button class="btn btn-lg btn-primary btn-block" routerLink="/pracownik-wydanie-samochodu" type="submit">Pracownik</button>-->
  </form>
  </body>
</div>


<div *ngIf="klient">
  <app-filter></app-filter>
</div>
<div *ngIf="pracownik">
  <app-pracownik-odbior-samochodu></app-pracownik-odbior-samochodu>
</div>
