
<body class="text-center">
<form class="form-signin">

  <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
  <label for="inputEmail" class="sr-only">Adres email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Adres email" required autofocus>
  <label for="inputPassword" class="sr-only">Hasło</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
  <button class="btn btn-lg btn-primary btn-block" routerLink="/filter" type="submit">Klient</button>
  <button class="btn btn-lg btn-primary btn-block" routerLink="/pracownik-wydanie-samochodu" type="submit">Pracownik</button>
</form>
</body>

